#kod1{
    position: absolute;
    left: 12cm;
    top: 4cm;
    font-family: "Monaco", "Lucida Console", monospace;
    z-index: 1;
    background-color: aliceblue;
}
#tkod1{
    position: absolute;
    left: 12cm;
    top: 32mm;
    z-index: 2;
    background-color: aliceblue;
}
#a{
    position: absolute;
    left: 1cm;
    background-color: aliceblue;
    right: 30cm;
}
body{
    background-color: rgb(204, 215, 236);
    border: 1cm;
}
#blank1{
    position: absolute;
    background-color: azure;
    left: 1cm;
    top: 100px;
    color:white;
    width: 750px;
    height: 250px;
    z-index: 0;
}
#a{
    z-index: 2;
    background-color: rgb(255, 255, 255);
    top: 150px;
    left: 2cm;
}
#kod2{
    position: absolute;
    left: 12cm;
    top: 11.5cm;
    font-family: "Monaco", "Lucida Console", monospace;
    z-index: 1;
    background-color: aliceblue;
}
#tkod2{
    position: absolute;
    left: 12cm;
    top: 10.75cm;
    z-index: 2;
    background-color: aliceblue;
}
#blank2{
    position: absolute;
    background-color: azure;
    left: 1cm;
    top: 400px;
    color:white;
    width: 750px;
    height: 300px;
    z-index: 0;
}
#d{
    z-index: 3;
}
#kod3{
    position: absolute;
    left: 20cm;
    top: 21.5cm;
    height: 250px;
    width: 500px;
    font-family: "Monaco", "Lucida Console", monospace;
    z-index: 1;
    background-color: aliceblue;
    overflow-y: scroll;
}
#tkod3{
    position: absolute;
    left: 20cm;
    top: 20.75cm;
    z-index: 2;
    background-color: aliceblue;
}
#blank3{
    position: absolute;
    background-color: azure;
    left: 1cm;
    top: 750px;
    color:white;
    width: 1300px;
    height: 350px;
    z-index: 0;
}
#kod4{
    position: absolute;
    left: 24cm;
    top: 9.5cm;
    height: 250px;
    width: 350px;
    font-family: "Monaco", "Lucida Console", monospace;
    z-index: 1;
    background-color: aliceblue;
}
#tkod4{
    position: absolute;
    left: 24cm;
    top: 8.75cm;
    z-index: 2;
    background-color: aliceblue;
}
#blank4{
    position: absolute;
    background-color: azure;
    left: 22cm;
    top: 100px;
    color:white;
    width: 505px;
    height: 600px;
    z-index: 0;
}
#tblank{
    width: 420px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 4cm;
    left: 23cm;
    z-index: 1;
    color: white;
    font-size: 40px;
}