<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animacje</title>
    <link rel="stylesheet" href="/static/style1.css">
    <link rel="stylesheet" href="/static/style2.css">
    <link rel="stylesheet" href="/static/style3.css">
</head>
<body>
    <h1>Animacje CSS</h1>
    <p id="a"><br>  Najedź na mnie</p>
    <h4 id="tkod1">Kod:</h4>
    <p id="kod1">#a{<br>
    color:rgb(1, 255, 255);<br>
    font-size: 30px;<br>
    }<br>
    #a:hover {<br>
    color: #0015ff;<br>
    transition: 10s<br>
    }</p>
    <p id = "blank2"><br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.</p>
    <img src ='/static/images/sqr.png' alt ='animacja2' id="b">
    <h4 id="tkod2">Kod:</h4>
    <p id="kod2">#b{<br>
    transform: scale(1);<br>
    animation: animacjaB 3s infinite;<br>
    position: absolute;<br>
    top: 4.76cm;<br>
    left: 1cm;<br>
    }<br>
    @keyframes animacjaB{<br>
    0%{transform: scale(1);}<br>
    50%{transform: scale(1.5);}<br>
    100%{transform: scale(1);}<br>
    }<br>
</p>
    <p id = "blank1"><br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.</p>
    <p id = "blank3"><br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.</p>
    <img src ='/static/images/circle.png' alt ='animacja3' id="c">
    <h4 id="tkod3">Kod:</h4>
    <p id="kod3">@keyframes animacjaD{<br>
    0%{left:100px; top: 800px}<br>
    2.5%{left:120px; top:805px}<br>
    5%{left:140px; top:810px}<br>
    7.5%{left:160px; top:815px}<br>
    10%{left:180px; top:820px}<br>
    12.5%{left:200px; top:825px}<br>
    15%{left:220px; top:830px}<br>
    17.5%{left:240px; top:835px}<br>
    20%{left:260px; top:840px}<br>
    22.5%{left:280px; top:845px;}<br>
    25%{left:300px; top:850px}<br>
    27.5%{left:320px; top:855px}<br>
    30%{left:340px; top:860px}<br>
    32.5%{left:360px; top:865px}<br>
    35%{left:380px; top:870px}<br>
    37.5%{left:400px; top:875px}<br>
    40%{left:420px; top:880px}<br>
    42.5%{left:440px; top:885px}<br>
    45%{left:460px; top:890px}<br>
    47.5%{left:480px; top:895px}<br>
    50%{left:500px; top:900px}<br>
    52.5%{left:480px; top:895px}<br>
    55%{left:460px; top:890px}<br>
    57.5%{left:440px; top:885px}<br>
    60%{left:420px; top:880px}<br>
    62.5%{left:400px; top:875px}<br>
    65%{left:380px; top:870px}<br>  
    67.5%{left:360px; top:865px}<br>
    70%{left:340px; top:860px}<br>
    72.5%{left:320px; top:855px}<br>
    75%{left:300px; top:850px}<br>
    77.5%{left:280px; top:845px}<br>
    80%{left:260px; top:840px}<br>
    82.5%{left:240px; top:835px}<br>
    85%{left:220px; top:830px}<br>
    87.5%{left:200px; top:825px}<br>
    90%{left:180px; top:820px}<br>
    92.5%{left:160px; top:815px}<br>
    95%{left:140px; top:810px}<br>
    97.5%{left:120px; top:805px}<br>
    100%{left:100px; top:800px}<br>
}<br>
#d{<br>
    position: absolute;<br>
    left: 100px;<br>
    top: 100px;<br>
    animation: animacjaD 10s infinite;<br>
    transition: 20s;<br>
}
</p>
    <p id="d">Cześć</p>
    <p id = "blank4"><br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.</p>
    <h4 id="tkod4">Kod:</h4>
    <p id="kod4">#c{<br>
    font-size: 30px;<br>
    animation: animacjaC 6s infinite;<br>
    left: 100px;<br>
    top: 4cm;<br>
    position: absolute;<br>
    z-index: 3;<br>
    }<br>
@keyframes animacjaC<br>
    0%{left: 900px;}<br>
    50%{left: 1200px;}<br>
    100%{left: 900px;}<br>
}<br></p>
<p id="tblank">.<br>.<br>.</p>
</body>
</html>